@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	font-size: 14pt;
}

h1,h2,h3,h4,p {
	padding: 5px 0;
}

hr {
	margin: 10px 0;
	border: solid 1px black;
}

.row a {
	font-size: 16px;
	color: black;
	cursor:pointer;
	text-decoration: none;
}

.row a:hover {
	text-decoration: underline;
}
.navigator a{
	position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}
.navigator .link::after{
	content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigator .link:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}
img {
	max-width:100%;
	object-fit: cover;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.text-small {
	font-size: 12pt;
	color: gray;
}

form {
	width: 60%;
	margin: 0 auto;
}

form.w100 {
	width: 100%;
}

form div.part {
	display: flex;
	align-items: center;
}

form div.part > *:nth-child(1) {
	margin-right: 10px;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

input,select,textarea,button {
	width: 100%;
	height: 50px;
	outline: none;
	margin: 10px 0;
	transition: .2s;
	font-size: 14pt;
	padding-left: 10px;
	border-radius: 5px;
	font-family: OpenSans;
	border: solid 1px black;
}

input[type=file] {
	padding: 0;
	border:  none;
	height: 30px;
}

input[type=checkbox] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

textarea {
	padding: 10px;
	height: 100px;
}

button {
	padding: 0;
	cursor: pointer;
	border: 2px solid #000;
	color: #000;
	border-radius: 6px;
	font-weight: 500;
	transition: .5s;
}
button:hover{
	background: #000;
	color: #fff;
}

div.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

div.message {
	font-size: 20pt;
	color: gray;
	text-align:center;
	margin: 40px 0;
}
.head {
	border-bottom: solid 2px black;
	padding: 10px 0;
	margin-bottom: 20px;
}
div.head {
	border-bottom: solid 2px black;
	padding: 20px 0;
	margin: 40px 0 30px;
	font-size: 20pt;
	text-align: center;
}

div.wrap {
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

div.row.at {
	align-items: flex-start;
}

div.col {
	width: 32%;
	padding: 20px;
	transition: .2s;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: white;
	border: solid 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.col img {
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	object-fit: scale-down;
}

header {
	background-color:white;
	border-bottom: solid 3px black;
}

header div.top {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: solid 3px black;
	background-size: 100%;
	background-attachment: fixed;
}

header div.top a:hover {
	text-decoration: none;
}

header div.top img {
	width:70px;
	height:50px;
	margin-right:20px;
	object-fit: inherit;
}

header ul, footer ul  {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header ul li, footer ul li {
	width: 100%;
	padding: 20px 0;
	transition: .2s;
	text-align: center;
}

header button, footer button {
	max-width: 60%;
	margin: 0;
}

main {
	min-height: calc(100vh - 400px);
}

main div.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main div.product > div {
	width: 49%;
	flex-shrink: 0;
}

main div.product div.image {
	text-align: center;
}

main div.product img {
	height: 300px;
}

footer {
	margin-top: 40px;
	background-color: white;
	border-top: solid 3px black;
}

/*SLIDER*/
div#slider {
	position: relative;
	padding: 10px 5px;
	overflow: hidden; 
}

div#slider div.slides {
	position: relative;
	display: flex;
	transition: .4s;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
}

div#slider div.slides div.slide {
	flex-shrink: 0;
	text-align:center;
	margin-right: 20px;
	margin-bottom: 0;
}

div.slide img {
	margin-bottom: 10px;
}
.slide h3{
	text-decoration: none;
}

/*FILTRATION*/
span {
	cursor: pointer;
}

span:hover {
	text-decoration: underline;
}

select#category {
	max-width: 30%;
}
.presentation {
	margin: 30 auto;
  background: url('images/3a9a800496951bf0f2c679c2c0f5445d.jpeg') no-repeat;
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(223, 223, 223);
  position: relative;
}
.presentation a{
	padding-top: 400px;
}

.presentation::after {
  content: 'Лучшие специи для вкусов ваших блюд';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.presentation::before {
  content: 'по низким ценам';
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}